# Eclipse
.classpath
.project
.settings/
.factorypath
.springBeans
mvnw
mvnw.cmd
bin/
src/app/server.ts
node_modules/
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/
/.apt_generated/
