/* You can add global styles to this file, and also import other style files */

.tool_button{
  margin-right: 5px;
}

.pagination_block{
  margin-top: -15px;
}

.pagination_zone{
  height: 50px;
}

.pagination_component{
  position: relative;
  top: -27px;
}
