<form (ngSubmit)="submitPassport()" [formGroup]="passportForm">
  <div class="box-body">
    <div class="form-group">
      <label>Numero*</label>
      <input type="text" class="form-control" formControlName="numero" placeholder="Entrer le numero"
             data-toggle="tooltip" data-placement="top">
    </div>
    <div class="form-group">
      <label>Date de delivrance*</label>
      <input type="date" class="form-control" formControlName="dateDelivrance" placeholder="Entrer la date de naissance"
             data-toggle="tooltip" data-placement="top">
    </div>
    <div class="form-group">
      <label>Date d'expiration*</label>
      <input type="date" class="form-control" formControlName="dateExpiration" placeholder="Entrer la date de naissance"
             data-toggle="tooltip" data-placement="top">
    </div>
    <div class="form-group">
      <label>Lieu de delivrance*</label>
      <input type="text" class="form-control" formControlName="lieuDelivrance" placeholder="Entrer le lieu de naissance"
             data-toggle="tooltip" data-placement="top">
    </div>
    <div class="form-group">
      <label>Autorite*</label>
      <select class="form-control" formControlName="autoriteId" placeholder="choisir un pays"
              data-toggle="tooltip" data-placement="top">
        <option *ngFor="let autorite of autorites" value="{{autorite.id}}">{{autorite.nom}} {{autorite.prenom}}
          ({{autorite.poste}})
        </option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fermer</button>
    <button type="submit" class="btn btn-success" [disabled]="!passportForm.valid">Valider</button>
  </div>
</form>
