
<body>
	<!-- Page Content -->
	<div class="container">

		<div class="row">

			<!-- Post Content Column -->
			<div class="col-lg-8">

				<!-- Title -->
				<h1 class="mt-4">Track your Passport</h1>
				<hr>

				<!-- Preview Image -->
				<img class="img-fluid rounded" src="assets/image/gps_tracking.png"
					alt="">

				<hr>

				<!-- Post Content -->
				<div class="lead">
					<div class="container-contact100">
						<div class="wrap-contact100">
							<form class="contact100-form validate-form">
								<span class="contact100-form-title"> Contact Us </span>

								<div class="wrap-input100 validate-input bg1"
									data-validate="Please Type Your Name">
									<span class="label-input100">FULL NAME *</span> <input
										class="input100" type="text" name="name"
										placeholder="Enter Your Name">
								</div>

								<div class="wrap-input100 validate-input bg1 rs1-wrap-input100"
									data-validate="Enter Your Email (e@a.x)">
									<span class="label-input100">Email *</span> <input
										class="input100" type="text" name="email"
										placeholder="Enter Your Email ">
								</div>

								<div class="wrap-input100 bg1 rs1-wrap-input100">
									<span class="label-input100">Phone</span> <input
										class="input100" type="text" name="phone"
										placeholder="Enter Number Phone">
								</div>

								<div class="wrap-input100 input100-select bg1">
									<span class="label-input100">Needed Services *</span>
									<div>
										<select class="js-select2" name="service">
											<option>Please chooses</option>
											<option>eCommerce Bussiness</option>
											<option>UI/UX Design</option>
											<option>Online Services</option>
										</select>
										<div class="dropDownSelect2"></div>
									</div>
								</div>

								<div class="w-full dis-none js-show-service">
									<div class="wrap-contact100-form-radio">
										<span class="label-input100">What type of products do
											you sell?</span>

										<div class="contact100-form-radio m-t-15">
											<input class="input-radio100" id="radio1" type="radio"
												name="type-product" value="physical" checked="checked">
											<label class="label-radio100" for="radio1"> Phycical
												Products </label>
										</div>

										<div class="contact100-form-radio">
											<input class="input-radio100" id="radio2" type="radio"
												name="type-product" value="digital"> <label
												class="label-radio100" for="radio2"> Digital
												Products </label>
										</div>

										<div class="contact100-form-radio">
											<input class="input-radio100" id="radio3" type="radio"
												name="type-product" value="service"> <label
												class="label-radio100" for="radio3"> Services
												Consulting </label>
										</div>
									</div>

									<div class="wrap-contact100-form-range">
										<span class="label-input100">Budget *</span>

										<div class="contact100-form-range-value">
											$<span id="value-lower">610</span> - $<span id="value-upper">980</span>
											<input type="text" name="from-value"> <input
												type="text" name="to-value">
										</div>

										<div class="contact100-form-range-bar">
											<div id="filter-bar"></div>
										</div>
									</div>
								</div>

								<div class="wrap-input100 validate-input bg0 rs1-alert-validate"
									data-validate="Please Type Your Message">
									<span class="label-input100">Message</span>
									<textarea class="input100" name="message"
										placeholder="Your message here..."></textarea>
								</div>

								<div class="container-contact100-form-btn">
									<button class="contact100-form-btn">
										<span> Submit <i class="fa fa-long-arrow-right m-l-7"
											aria-hidden="true"></i>
										</span>
									</button>
								</div>
							</form>
						</div>
					</div>

				</div>


				<hr>






			</div>

			<!-- Sidebar Widgets Column -->
			<div class="col-md-4">

				<!-- Search Widget -->
				<div class="card my-4">
					<h5 class="card-header">Search</h5>
					<div class="card-body">
						<div class="input-group">
							<input type="text" class="form-control"
								placeholder="Search for..."> <span
								class="input-group-btn">
								<button class="btn btn-secondary" type="button">Go!</button>
							</span>
						</div>
					</div>
				</div>

				<!-- Categories Widget -->
				<div class="card my-4">
					<h5 class="card-header">Categories</h5>
					<div class="card-body">
						<div class="row">
							<div class="col-lg-6">
								<ul class="list-unstyled mb-0">
									<li><a href="#">Web Design</a></li>
									<li><a href="#">HTML</a></li>
									<li><a href="#">Freebies</a></li>
								</ul>
							</div>
							<div class="col-lg-6">
								<ul class="list-unstyled mb-0">
									<li><a href="#">JavaScript</a></li>
									<li><a href="#">CSS</a></li>
									<li><a href="#">Tutorials</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<!-- Side Widget -->
				<div class="card my-4">
					<h5 class="card-header">Side Widget</h5>
					<div class="card-body">You can put anything you want inside
						of these side widgets. They are easy to use, and feature the new
						Bootstrap 4 card containers!</div>
				</div>

			</div>

		</div>
		<!-- /.row -->

	</div>
</body>